
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<li>
    <a>User Name</a>
    <input name="txtUserName" />
    <a>PassWord</a>
    <input name="txtUserName" />
    <button name="btnLogin">Login</button>
</li>